doctype html lang="en"
html
    meta(charset="UTF-8")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="This is a sample web page.")
    meta(name="keywords" content="sample, web page, Pug")
    meta(name="author" content="darrell parkhouse")
    title dropdown menu | Untitled UI Kit
    link(rel="stylesheet" href="../css/app.css")
    body
        button.secondary-button
            .icon
                .down-arrow-icon
            | account
        .dropdown
            header.dropdown-header
                .profile
                    img(src="../img/olivia-rhye.png" alt="Olivia Rhye")
                .info
                    .name Olivia Rhye
                    .email olivia@untitledui.com
            ul
                li
                    .icon
                        .profile-icon
                    | view profile
                li
                    .icon
                        .settigns-icon
                    | settings
                li
                    .icon
                        .keyboard-shortcuts-icon
                    | keyboard shortcuts
            ul
                li
                    .icon
                        .company-icon
                    | company

                li
                    .icon
                        .team-icon
                    | team

                li
                    .icon
                        .invite-icon
                    | invite

            ul
                li
                    .icon
                        .changelog-icon
                    | changelog

                li
                    .icon
                        .slack-icon
                    | slack community

                li
                    .icon
                        .support-icon
                    | support

                li
                    .icon
                        .api-icon
                    | API docs

            ul
                li
                    .icon
                        .logout-icon
                    | logout


