@function px-to-rems($px) {
    @return calc($px / 16) * 1rem;
}

@mixin flex() {
    display: flex;
}

@mixin flex-center() {
    @include flex();
    justify-content: center;
    align-items: center;
}

@mixin flex-direction($direction) {
    flex-direction: $direction;
}

@mixin font-color($color) {
    color: $color;
}

@mixin font-size($size) {
    font-size: px-to-rems($size);
}

@mixin font-weight($weight) {
    font-weight: $weight;
}

@mixin v-padding($size) {
    padding: px-to-rems($size) 0;
}

@mixin h-padding($size) {
    padding: 0 px-to-rems($size);
}

@mixin padding($size) {
    padding: px-to-rems($size);
}
